.icons > *:not(:last-child) {
  margin-right: 15px
}

.icons {
  margin-top: 20px;
}

@media(min-width: 768px) {
  .banner {
    padding-left: 15px;
  }
}

@media(max-width: 767px) {
  .banner {
    padding-bottom: 15px;
  }
}
