h1 {
  font-family: sans-serif !important;
}

h3 {
  font-family: sans-serif;
    margin: 0 !important;
}

a:link, a:hover, a:active, a:visited {
  color: #2a52be;
}

pre[class*="language-"] {
  border-radius: 20px;
}

*:not(pre[class*="language-"]) {
    font-family: sans-serif !important
}

@media (max-width: 767px) {
  .about {
    margin-top: 35px;
  }
}
